<!DOCTYPE html>
<html>

  <head>
    <title>Computer Options</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/HVC.css') }}">
  </head>

  <body>

    {% extends "pages/template.html" %}
    {% block content %}

      <div class="content-box">

        <h1 class="title">Human vs Computer</h1>

          <div class="option-box" id="MAN">
            <h2 class="option-text">Human First</h2>
          </div>

          <div class="option-box" id="COM">
            <h2 class="option-text">Computer First</h2>
          </div>

      </div>

      <script src="{{ url_for('static', filename='scripts/HVC.js') }}"></script>

    {% endblock %}

  </body>

</html>
