<!DOCTYPE html>
<html>

  <head>
    <title>Human Options</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>

  <body>

    {% extends "pages/template.html" %}
    {% block content %}

      <div class="content-box">

        <h1 class="title">Human vs Human</h1>

          <div class="option-box" id="LOC">
            <h2 class="option-text">Local Game</h2>
          </div>

          <a href="/lobby">
            <div class="option-box" id="LOB">
              <h2 class="option-text">Online Game</h2>
            </div>
          </a>

      </div>

      <link rel="stylesheet" href="{{ url_for('static', filename='styles/HVH.css') }}">
      <script src="{{ url_for('static', filename='scripts/HVH.js') }}"></script>

    {% endblock %}

  </body>

</html>
