<!DOCTYPE html>
<html>

  <head>
    <title>Lobby</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>

  <body>

    {% extends "pages/template.html" %}
    {% block content %}

      <div class="content-box">

        <h1 class="title">Lobby</h1>

        <p id="client-info"><span id="client-count">0 players </span>online</p>
        <p id="host-a-game">Host a Game</p>
        <p id="go-back">Back</p>

        <div id="host-box">
          <input id="name-input" type="text" name="host-name" placeholder="Your Name">
          <p id="host-now">Host</p>
        </div>

        <div id="open-games">
          {% if games|length > 0 %}
            {% for game in games %}
              <div class="game-item"></div>
            {% endfor %}
          {% else %}
            <div class="no-games">Sorry, no games yet.</div>
          {% endif %}
        </div>

      </div>

      <link rel="stylesheet" href="{{ url_for('static', filename='styles/LOB.css') }}">
      <script src="{{ url_for('static', filename='scripts/LOB.js') }}"></script>

    {% endblock %}

  </body>

</html>
