<!DOCTYPE html>
<html>

  <head>
    <title>Welcome!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/welcome.css') }}">
  </head>

  <body>

    {% extends "pages/template.html" %}
    {% block content %}

      <div class="content-box">

        <h1 class="title">Tic-Tac-Toe</h1>

        <div class="option-box" id="HvH">
          <h2 class="option-text">Human vs Human</h2>
        </div>
        
        <div class="option-box" id="HvC">
          <h2 class="option-text">Human vs Computer</h2>
        </div>

      </div>

      <script src="{{ url_for('static', filename='scripts/welcome.js') }}"></script>

    {% endblock %}

  </body>

</html>
